  <%- include('header') -%>
  
  <div class="text-center bg-img" >
    <h1 class="h1 py-4">Login System</h1>
    <form action="/route/login" method="POST">
      <div class="center">
        <input type="email" name="email" id="" placeholder="abc@gmail.com"> 
      </div> <br>
      <div class="center">
        <input type="password" name="password" id="" placeholder="********" >
      </div><br>
      <input type="submit" value="submit" class="btn btn-success">
    </form>
  </div>

  <%- include('footer') -%>